<div class="row justify-content-left">
  <div class="col-lg-3 col-md-6">

    <h1 class="text-left ">Регистрация</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
                 data: { turbo: false }) do |f| %>

      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mb-3">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
      </div>

      <div class="field mb-3">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(минимум  <%= @minimum_password_length %> символов)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="field mb-3">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="actions mb-2">
        <%= f.submit t('app.register'), class: "btn btn-primary btn-block btn-lg" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
