<div class="row row justify-content-left">
  <div class="col-lg-4 col-md-6">
    <h1 class="text-left">Вход</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, placeholder: 'Адрес почты', class: 'form-control' %>
      </div>

      <div class="form-group mt-3">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", placeholder: 'Пароль', class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group mt-2">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, 'Запомнить меня' %>
        </div>
      <% end -%>

      <div class="form-group mt-2">
        <%= f.submit "Войти", class: "btn btn-primary btn-block btn-lg" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
