<% require 'devise/version' %>
<p><%= t('views.device.greeting')%> <%= @email %>! </p>

<p><%= t('views.device.reset_password.instruction') %></p>

<p><%= link_to t('views.device.reset_password.action'), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= t('views.device.reset_password.instruction_2') %></p>
<p><%= t('views.device.reset_password.instruction_3') %></p>
